.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-title {
  color: purple;
  text-align: center;
  font-size: xx-large;
}

.App-subtitle {
  color: dimgray;
  text-align: center;
  font-size: x-large;
}

.QR {
  display: flex;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
